h1{ font-family:'lucida sans',' lucida sans SUPER COMPUTER';
    text-align:center;
    font-size: 70px;
    }

    
input{
    margin: 0 650px;
}

.btn-speak{
    margin: 0 710px;
    background-color: red;
    color: white;
    height: 30px;
    border: solid green 1px;
    border-radius: 4px;
}
p1{ font-size: 36px;
}
h2{
    font-size: 50px;
}
p2{
    font-size: 36px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 50px;
}
p4{
    font-size: 36px;
}
body {
    background-color: #8DD7BF;
    
}
h5{
    text-align: center;
    font-size: 60px;
}
.button-game{

    margin: 0 710px;
    background-color: #ff00ff;
    color: white;
    height: 30px;
    border: solid green 1px;
    border-radius: 4px;

}
















